<div class="container mainContainer">

  <h3 class="title"><b>Search</b></h3>
  <hr>

  <form [formGroup]="parentAsin" (ngSubmit)="onSubmit()" >
    <div class="parentInput">
      <label class="subText" for="asin">ASIN:</label>

      <input id="asin" type="text" formControlName="asin" size="15" maxlength="10">
    </div>
    <p class = "error" *ngIf="showError[0]==1">Please, write a valid ASIN</p>
    <p class = "error" *ngIf="showError[2]==1">  ASIN not found...</p>


    <div class="marketInput">

      <label class="subText" for="marketplace">Country:</label>

      <select name="marketplace" class="marketForm" formControlName="marketplace" >
        <option [value]="item" *ngFor="let item of marketplaces">{{item}}</option>
      </select>
      <p class = "error" *ngIf="showError[1]==1">Please, choose a country</p>

      <button class="button" type="button" type="submit" size="10">Search ASIN</button>
    </div>
  </form>

</div>
