@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

.reachBottom {

  display:block;
  height: 100%;
  padding:0;
}
.title{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  transform: translate(-50%, -50%);

  font-size:100px;
	letter-spacing:0.2em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow:
						5px 5px #eebd37,
						17px 17px #720b61;
}

.content{
  margin: 90px auto;
  margin-bottom: 0 auto;
  z-index: 2;
}
.footer{
  position: fixed;
  bottom:0px;
  color: white;
  background-color: rgb(49, 11, 75);
  width: 100%;
  z-index: 1;
}

img{
  height: 75px;
  width: 75px;
}

li{
  border-style: solid;
  border-color: rgb(149, 111, 175);
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color:#98ccda;
  text-decoration:none;
  cursor:pointer;
}

.noBorder{
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}
