<div class="container mainComponent">
  <h1 class="title"><b>Welcome to Variant!</b></h1>
  <p>This tool will let you edit your product variations easily</p>
  <p>Edit your variation attributes in real time, allowing you to avoid the necessary steps to apply your changes.</p>
  <p>Extracting items from existing variations is now possible, without needing to manually deleting your products.</p>


  <h5>This application uses Amazon's SP-API technology</h5>
  <div class="twoImages">
    <img src="http://nacnic.com/OURIMAGES/app/aws.png" height="200px" width="330px" >
    <img src="http://nacnic.com/OURIMAGES/app/api.png" height="200px" width="330px" >

  </div>
  <br>
  <h5>The system is designed and implemented on the MEAN Stack, as a project for Lorenzo Cativiela's final degree application</h5>
  <img src="http://nacnic.com/OURIMAGES/app/mean.png" class="center">

</div>
